.azul {
  color: #55c2eb;
}
.blanco,
.white {
  color: #fff;
}
.gris0 {
  color: #dfdfdf;
}
.gris1 {
  color: #6e7379;
}
.back-blue {
  background-color: #55c2eb;
}
.back-blue.blanco {
  padding-bottom: 30px;
  padding-top: 30px;
}
.p-bottom-0 {
  padding-bottom: 0px !important;
}
.height-0 {
  height: 0px !important;
  padding: 0 !important;
}
.height-auto {
  height: auto !important;
}
.width-all {
  width: 100% !important;
}
.margin-sides-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.no-margin {
  margin: 0 !important;
}
.inactive {
  pointer-events: none;
  cursor: default;
}
.back {
  background-color: rgba(0,0,0,0.8) !important;
  transition: background-color 1s ease;
}
.show-this {
  height: auto !important;
  display: block;
  transition: 0.5s ease;
}
body {
  background: #fff;
  font-family: 'Ropa Sans', sans-serif;
  color: #6e7379;
}
.navbar-default {
  background: transparent;
  border: none;
  transition: background 1s ease;
}
.navbar-default .navbar-nav>li>a {
  color: #55c2eb;
  font-style: italic;
  font-size: 1.2em;
}
.navbar-default .navbar-brand {
  color: #55c2eb;
  font-size: 3em;
  padding: 10px 15px;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
  transition: color 0.3s ease;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover {
  border: none;
  background: transparent;
}
.navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #55c2eb;
  height: 3px;
  margin-bottom: 6px;
  width: 30px;
}
.navbar-default .navbar-collapse {
  border: none;
}
.row.banner {
  position: relative;
}
.banner-text {
  bottom: 30px;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  width: 100%;
}
.banner-text h2 {
  font-size: 1.6em;
}
.banner-text h2 span {
  display: inline-block;
}
.btn-container {
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.btn-bt {
  background: #55c2eb;
  color: #00192e;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 8px 28px;
  width: 90%;
}
.link.icon-flecha,
.link.icon-mas {
  background: #00192e;
  color: #55c2eb;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 10px;
  width: 10%;
}
.banner-home {
  height: 720px;
}
.banner-home .item {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.banner-home .item .inner-element {
  width: 60%;
  height: auto;
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}
.pistones {
  background: transparent url("../../images/pistones-mobile.jpg") no-repeat center top;
  background-size: cover;
}
.pistones img {
  width: 140%;
  height: auto;
  display: block;
  margin-right: -35%;
}
.works-home {
  background: #1d242a;
}
.works-home .works-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.works-home .item-work {
  height: auto;
  overflow-x: hidden;
  text-align: center;
  -ms-flex-positive: 2;
  flex-grow: 2;
  width: 100%;
}
.works-home .item-work img {
  display: block;
  height: auto;
  width: 110%;
}
margin-left -5%,
.kamado {
  background: #f5f5dc;
}
.agua-maldita {
  background: #000;
}
.boreal {
  background: #e81c25;
}
.otro {
  background: #f5f5dc;
}
/*Services*/
.item-services {
  margin-bottom: 30px;
  margin-top: 30px;
}
.item-services .icon-service {
  font-size: 12em;
  line-height: 0.6em;
  text-align: center;
}
.item-services .description {
  font-size: 1.1em;
  text-align: center;
}
.services-home-container .slick-dots {
  padding: 0;
  text-align: center;
}
.services-home-container .slick-dots li {
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}
.services-home-container .slick-dots li button {
  background-color: #dfdfdf;
  border: none;
  color: transparent;
  display: block;
  height: 100%;
  padding: 0;
  transition: background-color 1s ease;
  width: 100%;
}
.services-home-container .slick-dots li button:focus {
  outline: none;
}
.services-home-container .slick-dots li.slick-active button {
  background-color: #033a63;
  transition: background-color 1s ease;
}
/*SERVICES*/
.inner-banner {
  height: 670px;
  background-color: #dfdfdf;
  display: block;
  color: #fff;
  position: relative;
}
.inner-banner.services {
  background: transparent url("../../images/banner-services-mobile.jpg") no-repeat center center;
  background-size: cover;
}
.inner-banner.works {
  background: #000 url("../../images/agua-maldita-banner.jpg") no-repeat center bottom;
  background-size: 768px;
  height: 500px;
  margin-bottom: 40px;
}
.inner-banner.about {
  background: #000 url("../../images/banner-about-mobile.jpg") no-repeat center bottom;
  background-size: cover;
  height: 500px;
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
}
.inner-banner.about img {
  width: 60%;
  height: auto;
  position: relative;
  bottom: 40px;
}
.inner-banner-text {
  position: absolute;
  bottom: 10px;
}
.inner-banner-text .arrow-down-btn {
  width: 30px;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  background-color: #033a63;
  color: #55c2eb;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.inner-banner-text .arrow-down-btn .icon-flecha {
  font-size: 1.2em;
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
  -ms-flex-item-align: center;
  align-self: center;
}
.service-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  overflow: hidden;
  transition: height 0.5s ease;
}
.service-btn a {
  text-decoration: none;
  transition: color 1s ease;
}
.service-btn a:hover,
.service-btn a:active,
.service-btn a:focus {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  transition: color 1s ease;
}
.service-btn span.icon-mas {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}
.service-btn.opened span.icon-mas {
  transform: rotate(45deg);
  transition: all 0.3s ease;
  right: 12px;
  top: 10px;
}
.service-btn h2 {
  margin-top: 0;
  text-transform: uppercase;
  width: 40%;
}
.service-btn p {
  margin: 0;
}
.service-btn .extra-content {
  color: #fff;
  height: 0px;
  transition: 0.5s ease;
  overflow: hidden;
  padding: 20px 0 0;
}
.service-btn .extra-content p {
  margin-left: 15px;
  margin-right: 15px;
}
.service-btn .extra-content.web-design,
.service-btn .extra-content.design-adv,
.service-btn .extra-content.web-dev {
  background-color: transparent;
}
.logo-design {
  background-color: #55c2eb;
}
.web-design {
  background-color: rgba(85,194,235,0.85);
}
.design-adv {
  background-color: rgba(85,194,235,0.7);
}
.web-dev {
  background-color: rgba(85,194,235,0.55);
}
.responsible {
  background-color: #1d242a;
  color: #fff;
  display: block;
  height: auto;
  margin-top: 20px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}
.responsible img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  margin-bottom: 30px;
}
.responsible img.dog {
  border-radius: 0px;
}
.down {
  margin-top: 30px;
  margin-bottom: 30px;
}
.down .icon-logobt {
  font-size: 10em;
  line-height: 0.7em;
  color: #55c2eb;
  position: relative;
}
.down p {
  font-size: 1.2em;
}
.works-item {
  margin-bottom: 40px;
}
.works-item img {
  width: 100%;
  height: auto;
  display: block;
}
.inner-banner-detail.agua-maldita {
  background: #000 url("../../images/agua-maldita-banner.jpg") no-repeat center bottom;
  background-size: 768px;
  height: 450px;
}
.inner-banner-detail.kamado {
  background: #000 url("../../images/kamado-project-banner.jpg") no-repeat center bottom;
  background-size: 768px;
  height: 450px;
}
.inner-banner-detail.pistones {
  background: #000 url("../../images/pistones-detail-banner.jpg") no-repeat center bottom;
  background-size: 768px;
  height: 450px;
}
.inner-banner-detail.boreal {
  background: #000 url("../../images/boreal-project-banner.jpg") no-repeat center bottom;
  background-size: 600px;
  height: 350px;
}
.project-info {
  text-align: center;
  margin-bottom: 30px;
}
.item-detail {
  text-align: center;
}
.item-detail img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 40px;
}
.item-detail img.bottle {
  width: 40%;
  display: inline-block;
}
.container.about h1,
.container.contact h1 {
  font-size: 5em;
}
.slogan {
  margin-bottom: 40px;
}
#map {
  width: 100%;
  display: block;
  height: 400px;
}
#contactForm {
  position: relative;
}
.form-control {
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  box-shadow: none;
  color: #fff;
}
.form-control:focus {
  outline: none;
  border-color: rgba(255,255,255,0.7);
  box-shadow: none;
}
textarea {
  resize: none;
  height: 80px !important;
}
.form-group.error .form-control {
  border-color: rgba(255,0,0,0.9);
}
.alert-danger {
  background: transparent;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease;
}
.alert-danger.hidden-item {
  opacity: 0;
  transition: all 0.5s ease;
}
.btn.btn-primary {
  background: #1d242a;
  color: #fff;
  border: #1d242a;
  border-radius: 0;
  width: 40%;
  margin: 0 auto;
  display: inline-block;
}
.sent_mail_alert {
  background: rgba(29,36,42,0.9);
  color: #fff;
  display: none;
  font-size: 1.2em;
  padding: 30px 40px;
  position: absolute;
  top: 60px;
  width: 100%;
}
.sent_mail_alert span {
  font-size: 1.6em;
}
footer {
  background-color: #1d242a;
  color: #fff;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer .services {
  list-style: none;
  padding: 0;
}
footer .services .icon-flecha {
  font-size: 0.8em;
  margin-right: 3px;
}
footer .services a {
  display: inline-block;
}
footer .social {
  padding: 0;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  height: 105px;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .social li {
  border: 2px solid #6e7379;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}
footer .social li a {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
footer .social li .icon-face {
  -ms-flex-item-align: center;
  align-self: center;
}
@media screen and (min-width: 425px) {
  .banner-home .item .inner-element {
    width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .back-blue.blanco {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 20px;
  }
  .navbar-default .navbar-brand {
    padding: 6px 15px;
    font-size: 2.8em;
  }
  .banner-home {
    height: 1018px;
  }
  .banner-home .item .inner-element {
    width: 350px;
  }
  .banner-home .item.pistones {
    background: transparent url("../../images/pistones-back-desktop.jpg") no-repeat center top;
    background-size: cover;
  }
  .banner-home .item.pistones img {
    width: 120%;
    margin-right: 0;
  }
  .banner-text {
    padding-left: 30px;
    padding-right: 30px;
    width: 75%;
  }
  .banner-text h2 {
    font-size: 2.4em;
  }
  .banner-text p {
    font-size: 1.3em;
  }
  .btn-container {
    width: 300px;
  }
  .btn-container .btn-bt {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .works-home {
    text-align: center;
  }
  .works-home .works-container {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .works-home .item-work {
    width: 50%;
    float: left;
  }
  .works-home .item-work img {
    width: 100%;
  }
  .inner-banner {
    height: 900px;
  }
  .inner-banner.about {
    background: #000 url("../../images/banner-about-desktop.jpg") no-repeat center bottom;
    background-size: cover;
    height: 570px;
  }
  .inner-banner.about img {
    width: 320px;
    bottom: 20px;
  }
  .inner-banner-text p {
    width: 75%;
    font-size: 1.2em;
  }
  .inner-banner-text .arrow-down-btn {
    width: 48px;
    height: 24px;
  }
  .inner-banner-text .arrow-down-btn .icon-flecha {
    width: 18px;
    height: 18px;
  }
  .service-btn {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .service-btn a {
    width: 90%;
  }
  .service-btn .back-icon {
    position: absolute;
    right: 60px;
    top: 40px;
    font-size: 5em;
    color: rgba(255,255,255,0.5);
    z-index: 0;
  }
  .service-btn span.icon-mas {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2em;
    transition: all 0.3s ease;
    transform: rotate(0deg);
  }
  .service-btn.opened span.icon-mas {
    transform: rotate(45deg);
    transition: all 0.3s ease;
    right: 12px;
    top: 10px;
  }
  .service-btn h2 {
    margin-top: 0;
    text-transform: uppercase;
    width: 20%;
  }
  .service-btn p {
    margin: 0;
    font-size: 1.2em;
  }
  .service-btn.web-design {
    background-color: rgba(85,194,235,0.85);
  }
  .service-btn.design-adv {
    background-color: rgba(85,194,235,0.7);
  }
  .service-btn.web-dev {
    background-color: rgba(85,194,235,0.55);
  }
  .down {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .down .icon-logobt {
    font-size: 10em;
    line-height: 0.7em;
    color: #55c2eb;
    position: relative;
  }
  .down p {
    font-size: 1.2em;
  }
  .project-info {
    text-align: left;
  }
  .item-detail img.bottle {
    width: 20%;
  }
  .container.about p,
  .container.contact p {
    font-size: 1.1em;
  }
  #map {
    height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .banner-home .item .inner-element {
    width: 420px;
  }
  .banner-home .item.pistones img {
    width: 100%;
  }
  .banner-text {
    bottom: 240px;
    width: 640px;
  }
  .banner-text h2 {
    font-size: 3em;
  }
  .banner-text p {
    font-size: 1.6em;
  }
  .item-services .icon-service {
    font-size: 8em;
  }
  .item-services .title {
    font-size: 1.4em;
  }
  .inner-banner {
    height: 800px;
  }
  .inner-banner.services {
    background: transparent url("../../images/banner-services-desktop.jpg") no-repeat center center;
    background-size: cover;
  }
  .inner-banner.works {
    background: #000 url("../../images/agua-maldita-banner.jpg") no-repeat center bottom;
    background-size: 1024px;
    height: 600px;
  }
  .inner-banner-text h1 {
    font-size: 3em;
  }
  .inner-banner-text p {
    width: 60%;
    font-size: 1.4em;
  }
  .service-btn {
    height: 175px;
  }
  .service-btn a {
    width: 90%;
    float: right;
  }
  .service-btn a.float-left {
    float: left;
  }
  .service-btn span.icon-mas {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.3s ease;
    transform: rotate(0deg);
  }
  .service-btn.opened span.icon-mas {
    transform: rotate(45deg);
    transition: all 0.3s ease;
    right: 12px;
    top: 10px;
  }
  .service-btn h2 {
    width: 150px;
  }
  .service-btn p {
    width: 75%;
  }
  .service-btn.height-auto p {
    width: 100%;
  }
  .service-btn.web-design {
    background-color: rgba(85,194,235,0.85);
  }
  .service-btn.design-adv {
    background-color: rgba(85,194,235,0.7);
  }
  .service-btn.web-dev {
    background-color: rgba(85,194,235,0.55);
  }
  .down {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .down .icon-logobt {
    font-size: 10em;
    line-height: 0.7em;
    color: #55c2eb;
    position: relative;
  }
  .down p {
    font-size: 1.2em;
  }
  .main-info-container {
    position: relative;
    margin-top: -2px;
  }
  .main-info-container .service-btn {
    background: transparent;
  }
  .icon-logo-design,
  .icon-web-design,
  .icon-design-adv,
  .icon-web-dev {
    color: rgba(255,255,255,0.6);
    display: block;
    font-size: 10em;
    position: absolute;
    right: 15%;
    top: 40px;
  }
  .menu-bottom-services {
    padding: 0;
    background-color: #dfdfdf;
    text-align: center;
  }
  .menu-bottom-services li {
    display: inline-block;
    margin-right: -5px;
  }
  .menu-bottom-services li a {
    color: #fff;
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu-bottom-services li .icon-mas {
    margin-left: 45px;
  }
  .menu-bottom-services li.logo-design {
    background-color: #55c2eb;
  }
  .menu-bottom-services li.web-design {
    background-color: rgba(85,194,235,0.85);
  }
  .menu-bottom-services li.design-adv {
    background-color: rgba(85,194,235,0.7);
  }
  .menu-bottom-services li.web-dev {
    background-color: rgba(85,194,235,0.55);
  }
  .inner-banner-detail.agua-maldita {
    background: #000 url("../../images/agua-maldita-banner.jpg") no-repeat center bottom;
    background-size: 1100px;
    height: 600px;
  }
  .project-info h1 {
    font-size: 4em;
  }
  .project-info p {
    font-size: 1.3em;
  }
  .container.about p,
  .container.contact p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  .inner-banner {
    height: 800px;
  }
  .inner-banner-text h1 {
    font-size: 3em;
  }
  .inner-banner-text p {
    width: 60%;
  }
  .service-btn {
    height: 250px;
    padding-top: 30px;
  }
  .service-btn .back-icon {
    font-size: 6em;
    top: 70px;
    right: 30px;
  }
  .service-btn .icon-mas {
    font-size: 1.6em;
  }
  .service-btn h2 {
    font-size: 3em;
    width: 210px;
  }
  .service-btn a {
    width: 520px;
    position: relative;
  }
  .service-btn p {
    width: 70%;
    font-size: 1.6em;
  }
  #map {
    height: 600px;
  }
}

/*# sourceMappingURL=app.css.map */
