azul = #55C2EB
negro = #00192E
body
	background white
.navbar-default
	background transparent
	border none
	.navbar-brand
		color azul
		font-size 3em
		padding 10px 15px
		&:hover
			color white
			transition color .5s ease
	.navbar-toggle
		border none
		&:hover
			border none
			background transparent
		.icon-bar
			background azul
			height 3px
			margin-bottom 6px
			width 30px
.row.banner
	position relative
.banner-text
	bottom 30px
	color white
	padding-left 15px
	padding-right 15px
	position absolute
	h2
		font-size 1.6em
		span
			display inline-block
			// color rgb(59, 115, 172)
			// -webkit-background-clip text
			// -webkit-text-fill-color transparent
			// background -webkit-linear-gradient(225deg, rgb(3, 175, 237), rgb(46, 193, 89))
	a
		display block
.btn-bt
	background azul
	color negro
	display inline-block
	margin 0 auto
	padding 8px 28px
.link.icon-flecha
	background negro
	color azul
	height auto
	display inline-block
	padding 8px 10px
.banner-home
	height 720px
	.item
		display inline-block
		height 100%
		width 100%
.pistones
	background transparent url(../../images/pistones-mobile.jpg) no-repeat center top
	background-size cover
.works-home
	height auto
	overflow hidden
	.item
		background #f9c667
		background -moz-radial-gradient(center, ellipse cover,  #f9c667 0%, #f79621 100%)
		background -webkit-radial-gradient(center, ellipse cover,  #f9c667 0%,#f79621 100%)
		background radial-gradient(ellipse at center,  #f9c667 0%,#f79621 100%)
		display block
		height 290px
		float left