azul = #55C2EB
azul2 = #033A63
azul3 = #1D242A
negro = #00192E
negro2 = #1D242A
blanco = #FFFFFF
gris0 = #DFDFDF
gris1 = #6E7379
.azul
	color azul
.blanco
.white
	color blanco
.gris0
	color gris0
.gris1
	color gris1
.back-blue
	background-color azul
.back-blue.blanco
	padding-bottom 30px
	padding-top 30px
.p-bottom-0
	padding-bottom 0px !important
.height-0
	height 0px !important
	padding 0 !important
.height-auto
	height auto !important
.width-all
	width 100% !important
.margin-sides-15
	margin-left 15px
	margin-right 15px
.no-margin
	margin 0 !important
.inactive
	pointer-events none
	cursor default
.back
	background-color rgba(black, .8) !important
	transition background-color 1s ease
.show-this
	height auto !important
	display block
	transition .5s ease
body
	background white
	font-family 'Ropa Sans', sans-serif
	color gris1
.navbar-default
	background transparent
	border none
	transition background 1s ease
	.navbar-nav>li>a
		color azul
		font-style italic
		font-size 1.2em
	.navbar-brand
		color azul
		font-size 3em
		padding 10px 15px
		&:hover
			color white
			transition color .3s ease
	.navbar-toggle
		border none
		&:hover
			border none
			background transparent
		&:focus
			background none
		.icon-bar
			background azul
			height 3px
			margin-bottom 6px
			width 30px
	.navbar-collapse
		border none
.row.banner
	position relative
.banner-text
	bottom 30px
	color white
	padding-left 15px
	padding-right 15px
	position absolute
	width 100%
	h2
		font-size 1.6em
		span
			display inline-block
			// color rgb(59, 115, 172)
			// -webkit-background-clip text
			// -webkit-text-fill-color transparent
			// background -webkit-linear-gradient(225deg, rgb(3, 175, 237), rgb(46, 193, 89))
.btn-container
	display flex
	margin 30px 0
.btn-bt
	background azul
	color negro
	display flex
	margin 0 auto
	padding 8px 28px
	width 90%
.link.icon-flecha
.link.icon-mas
	background negro
	color azul
	height auto
	display flex
	justify-content center
	align-items center
	padding 8px 10px
	width 10%
.banner-home
	height 720px
	.item
		display inline-block
		height 100%
		width 100%
		overflow hidden
		.inner-element
			width 60%
			height auto
			display block
			position absolute
			overflow hidden
			right 0
			bottom 0
.pistones
	background transparent url(../../images/pistones-mobile.jpg) no-repeat center top
	background-size cover
	img
		width 140%
		height auto
		display block
		margin-right -35%
.works-home
	background negro2
	.works-container
		display flex
		align-items center
		flex-direction column
	.item-work
		height auto
		overflow-x hidden
		text-align center
		flex-grow 2
		width 100%
		img
			display block
			height auto
			width 110%
    		margin-left -5%
.kamado
	background beige
.agua-maldita
	background black
.boreal
	background #E81C25
	background: rgba(248,80,50,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 91%, rgba(240,47,23,1) 97%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(10%, rgba(241,111,92,1)), color-stop(91%, rgba(246,41,12,1)), color-stop(97%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 91%, rgba(240,47,23,1) 97%, rgba(231,56,39,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 91%, rgba(240,47,23,1) 97%, rgba(231,56,39,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 91%, rgba(240,47,23,1) 97%, rgba(231,56,39,1) 100%);
	background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 91%, rgba(240,47,23,1) 97%, rgba(231,56,39,1) 100%);
.otro
	background beige
	background: rgba(232,209,178,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(232,209,178,1) 0%, rgba(232,209,178,1) 65%, rgba(222,205,182,1) 91%, rgba(224,213,199,1) 95%, rgba(219,199,179,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(232,209,178,1)), color-stop(65%, rgba(232,209,178,1)), color-stop(91%, rgba(222,205,182,1)), color-stop(95%, rgba(224,213,199,1)), color-stop(100%, rgba(219,199,179,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(232,209,178,1) 0%, rgba(232,209,178,1) 65%, rgba(222,205,182,1) 91%, rgba(224,213,199,1) 95%, rgba(219,199,179,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(232,209,178,1) 0%, rgba(232,209,178,1) 65%, rgba(222,205,182,1) 91%, rgba(224,213,199,1) 95%, rgba(219,199,179,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(232,209,178,1) 0%, rgba(232,209,178,1) 65%, rgba(222,205,182,1) 91%, rgba(224,213,199,1) 95%, rgba(219,199,179,1) 100%);
	background: radial-gradient(ellipse at center, rgba(232,209,178,1) 0%, rgba(232,209,178,1) 65%, rgba(222,205,182,1) 91%, rgba(224,213,199,1) 95%, rgba(219,199,179,1) 100%);
.bt
	background azul
.pistones
	background black
.black-gradient
	background: rgba(76,76,76,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 75%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(75%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 75%, rgba(19,19,19,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 75%, rgba(19,19,19,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 75%, rgba(19,19,19,1) 100%);
	background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 75%, rgba(19,19,19,1) 100%);

/*Services*/
.item-services
	margin-bottom 30px
	margin-top 30px
	.icon-service
		font-size 12em
		line-height .6em
		text-align center
	.description
		font-size 1.1em
		text-align center
.services-home-container
	.slick-dots
		padding 0
		text-align center
		li
			display inline-block
			height 10px
			margin 0 5px
			width 10px
			button
				background-color gris0
				border none
				color transparent
				display block
				height 100%
				padding 0
				transition background-color 1s ease
				width 100%
				&:focus
					outline none
			&.slick-active button
				background-color azul2
				transition background-color 1s ease
/*SERVICES*/
.inner-banner
	height 670px
	background-color gris0
	display block
	color blanco
	position relative
	&.services
		background transparent url(../../images/banner-services-mobile.jpg) no-repeat center center
		background-size cover
	&.works
		background black url(../../images/agua-maldita-banner.jpg) no-repeat center bottom
		background-size 768px
		height 500px
		margin-bottom 40px
	&.about
		background black url(../../images/banner-about-mobile.jpg) no-repeat center bottom
		background-size cover
		height 500px
		margin-bottom 10px
		display flex
		align-items flex-end
		justify-content center
		img
			width 60%
			height auto
			position relative
			bottom 40px
.inner-banner-text
	position absolute
	bottom 10px
	.arrow-down-btn
		width 30px
		height 30px
		display flex
		margin 10px auto
		background-color azul2
		color azul
		justify-content center
		align-items center
		align-self center
		.icon-flecha
			font-size 1.2em
			transform rotate(90deg)
			width 15px
			height 15px
			align-self center
.service-btn
	padding-top 20px
	padding-bottom 20px
	height auto
	overflow hidden
	transition height .5s ease
	a
		text-decoration none
		transition color 1s ease
		&:hover
		&:active
		&:focus
			text-decoration none
			color rgba(white, .8)
			transition color 1s ease
	span.icon-mas
		position absolute
		right 10px
		top 10px
		transition all .3s ease
		transform rotate(0deg)
	&.opened
		span.icon-mas
			transform rotate(45deg)
			transition all .3s ease
			right 12px
			top 10px
	h2
		margin-top 0
		text-transform uppercase
		width 40%
	p
		margin 0
	.extra-content
		color white
		height 0px
		transition .5s ease
		overflow hidden
		padding 20px 0 0
		p
			margin-left 15px
			margin-right 15px
		&.web-design
		&.design-adv
		&.web-dev
			background-color transparent
.logo-design
	background-color azul
.web-design
	background-color rgba(azul, .85)
.design-adv
	background-color rgba(azul, .7)
.web-dev
	background-color rgba(azul, .55)
.responsible
	background-color negro2
	color blanco
	display block
	height auto
	margin-top 20px
	overflow hidden
	padding-top 30px
	padding-bottom 30px
	text-align center
	width 100%
	img
		border-radius 50%
		width 100px
		height 100px
		display inline-block
		overflow hidden
		background-color transparent
		margin-bottom 30px
		&.dog
			border-radius 0px
.down
	margin-top 30px
	margin-bottom 30px
	.icon-logobt
		font-size 10em
		line-height .7em
		color azul
		position relative
	p
		font-size 1.2em
.works-item
	margin-bottom 40px
	img
		width 100%
		height auto
		display block
.inner-banner-detail
	&.agua-maldita
		background black url(../../images/agua-maldita-banner.jpg) no-repeat center bottom
		background-size 768px
		height 450px
	&.kamado
		background black url(../../images/kamado-project-banner.jpg) no-repeat center bottom
		background-size 768px
		height 450px
	&.pistones
		background black url(../../images/pistones-detail-banner.jpg) no-repeat center bottom
		background-size 768px
		height 450px
	&.boreal
		background black url(../../images/boreal-project-banner.jpg) no-repeat center bottom
		background-size 600px
		height 350px
.project-info
	text-align center
	margin-bottom 30px
.item-detail
	text-align center
	img
		width 100%
		height auto
		display block
		margin-bottom 40px
		&.bottle
			width 40%
			display inline-block
.container.about
.container.contact
	h1
		font-size 5em
.slogan
	margin-bottom 40px
#map
	width 100%
	display block
	height 400px
#contactForm
	position relative
.form-control
	border-radius 0px
	border-bottom 1px solid white
	border-top none
	border-left none
	border-right none
	background transparent
	box-shadow none
	color blanco
	&:focus
		outline none
		border-color rgba(white, .7)
		box-shadow none
textarea
	resize none
	height 80px !important
.form-group.error
	.form-control
		border-color rgba(red, .9)
.alert-danger
	background transparent
	text-align center
	opacity 1
	transition all .5s ease
	&.hidden-item
		opacity 0
		transition all .5s ease
.btn.btn-primary
	background negro2
	color blanco
	border negro2
	border-radius 0
	width 40%
	margin 0 auto
	display inline-block
.sent_mail_alert
	background rgba(negro2, .9)
	color blanco
	display none
	font-size 1.2em
	padding 30px 40px
	position absolute
	top 60px
	width 100%
	span
		font-size 1.6em
footer
	background-color negro2
	color blanco
	height auto
	padding-bottom 30px
	padding-top 30px
	.services
		list-style none
		padding 0
		.icon-flecha
			font-size .8em
			margin-right 3px
		a
			display inline-block
	.social
		padding 0
		text-align center
		display flex
		height 105px
		align-items flex-end
		justify-content center
		li
			border 2px solid gris1
			border-radius 50%
			display inline-block
			height 30px
			margin-right 20px
			width 30px
			a
				align-items center
				display flex
				height 100%
				justify-content center
				width 100%
			.icon-face
				align-self center
@media screen and (min-width: 425px)
	.banner-home
		.item
			.inner-element
				width 220px
@media screen and (min-width: 768px)
	.back-blue.blanco
		padding-bottom 50px
		padding-top 50px
		margin-top 20px
	.navbar-default
		.navbar-brand
			padding 6px 15px
			font-size 2.8em
	.banner-home
		height 1018px
		.item
			.inner-element
				width 350px
			&.pistones
				background transparent url(../../images/pistones-back-desktop.jpg) no-repeat center top
				background-size cover
				img
					width 120%
					margin-right 0
	.banner-text
		padding-left 30px
		padding-right 30px
		width 75%
		h2
			font-size 2.4em
		p
			font-size 1.3em
	.btn-container
		width 300px
		.btn-bt
			justify-content center
	.works-home
		text-align center
		.works-container
			flex-direction row
		.item-work
			width 50%
			float left
			img
				width 100%
	/*SERVICES*/
	.inner-banner
		height 900px
		&.about
			background black url(../../images/banner-about-desktop.jpg) no-repeat center bottom
			background-size cover
			height 570px
			img
				width 320px
				bottom 20px
	.inner-banner-text
		p
			width 75%
			font-size 1.2em
		.arrow-down-btn
			width 48px
			height 24px
			.icon-flecha
				width 18px
				height 18px
	.service-btn
		padding-bottom 30px
		padding-top 30px
		a
			width 90%
		.back-icon
			position absolute
			right 60px
			top 40px
			font-size 5em
			color rgba(white, .5)
			z-index 0
		span.icon-mas
			position absolute
			right 10px
			top 10px
			font-size 1.2em
			transition all .3s ease
			transform rotate(0deg)
		&.opened
			span.icon-mas
				transform rotate(45deg)
				transition all .3s ease
				right 12px
				top 10px
		h2
			margin-top 0
			text-transform uppercase
			width 20%
		p
			margin 0
			font-size 1.2em
		&.web-design
			background-color rgba(azul, .85)
		&.design-adv
			background-color rgba(azul, .7)
		&.web-dev
			background-color rgba(azul, .55)
	.down
		margin-top 30px
		margin-bottom 30px
		.icon-logobt
			font-size 10em
			line-height .7em
			color azul
			position relative
		p
			font-size 1.2em
	.project-info
		text-align left
	.item-detail
		img
			&.bottle
				width 20%
	.container.about
	.container.contact
		p
			font-size 1.1em
	#map
		height 500px
@media screen and (min-width: 992px)
	.banner-home
		1177px
		.item
			.inner-element
				width 420px
			&.pistones
				img
					width 100%
	.banner-text
		bottom 240px
		width 640px
		h2
			font-size 3em
		p
			font-size 1.6em
	/*Services home*/
	.item-services
		.icon-service
			font-size 8em
		.title
			font-size 1.4em
	/*SERVICES*/
	.inner-banner
		height 800px
		&.services
			background transparent url(../../images/banner-services-desktop.jpg) no-repeat center center
			background-size cover
		&.works
			background black url(../../images/agua-maldita-banner.jpg) no-repeat center bottom
			background-size 1024px
			height 600px
	.inner-banner-text
		h1
			font-size 3em
		p
			width 60%
			font-size 1.4em
	.service-btn
		height 175px
		a
			width 90%
			float right
			&.float-left
				float left
		span.icon-mas
			position absolute
			right 10px
			top 10px
			transition all .3s ease
			transform rotate(0deg)
		&.opened
			span.icon-mas
				transform rotate(45deg)
				transition all .3s ease
				right 12px
				top 10px
		h2
			width 150px
		p
			width 75%
		&.height-auto
			p
				width 100%
		&.web-design
			background-color rgba(azul, .85)
		&.design-adv
			background-color rgba(azul, .7)
		&.web-dev
			background-color rgba(azul, .55)
	.down
		margin-top 30px
		margin-bottom 30px
		.icon-logobt
			font-size 10em
			line-height .7em
			color azul
			position relative
		p
			font-size 1.2em
	.main-info-container
		position relative
		margin-top -2px
		.service-btn
			background transparent
	.icon-logo-design
	.icon-web-design
	.icon-design-adv
	.icon-web-dev
		color rgba(blanco, .6)
		display block
		font-size 10em
		position absolute
		right 15%
		top 40px
	.menu-bottom-services
		padding 0
		background-color gris0
		text-align center
		li
			display inline-block
			margin-right -5px
			a
				color blanco
				display block
				position relative
				padding 15px 20px
			.icon-mas
				margin-left 45px
			&.logo-design
				background-color azul
			&.web-design
				background-color rgba(azul, .85)
			&.design-adv
				background-color rgba(azul, .70)
			&.web-dev
				background-color rgba(azul, .55)
	.inner-banner-detail
		&.agua-maldita
			background black url(../../images/agua-maldita-banner.jpg) no-repeat center bottom
			background-size 1100px
			height 600px
	.project-info
		h1
			font-size 4em
		p
			font-size 1.3em
	.container.about
	.container.contact
		p
			font-size 1.2em
@media screen and (min-width: 1200px)
	/*SERVICES*/
	.inner-banner
		height 800px
	.inner-banner-text
		h1
			font-size 3em
		p
			width 60%
	.service-btn
		height 250px
		padding-top 30px
		.back-icon
			font-size 6em
			top 70px
			right 30px
		.icon-mas
			font-size 1.6em
		h2
			font-size 3em
			width 210px
		a
			width 520px
			position relative
		p
			width 70%
			font-size 1.6em
	#map
		height 600px